@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: #0a0a0a;
    font-family: "Lora";
}

body{
    overflow-x: hidden;
}

/* ------------- Navbar --------------- */

.navbar{
    width: 100vw;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

/* ------------ Navbar Left ----------------- */

.navbar-right{
    display: flex;
    justify-content: space-between;
    width: 231px;
    position: relative;
    right: 50px;
    top: -7px;
}


.navbar-left .logo img{
    height: 95px;
    width: 117px;
    position: absolute;
    top: 6px;
    left: 11px;
    background-color: transparent;
}
/* ---------- Navbar Right ----------------- */



.navbar-right a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 16.5px;
    transition: color 0.4s;
    font-weight: 500;
}
.navbar-right a:hover{
    color:#fce479;
}

/* ------------ Intro ---------------- */

.intro{
    height: 630px;
    width: 100vw;
    position: relative;
    top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 72px;
    /* padding:1px; */
}

.main .middle{
    font-size: 69px;
    color: #ffd100;
}

/* ------------------ Sub Intro ------------------- */

.sub-intro{
    height: 70px;
    width: 100vw;
    position: relative;
    color: white;
    font-size: 23px;
    top: -86px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-intro .text{
    display: block;
    text-align: center;
}

.sub-intro .upper{
    padding: 3px;
}

/* ----------------- Information ----------------- */

.info{
    position: relative;
    width: 100vw;
    height:1000px;
    display: flex;
    top: 60px;
    padding-top: 300px;
    padding-left: 100px;
    justify-content: center;
}

.info .White-Tailed_Deer{
    height: 830px;
    width: 608px;
    border-radius: 3px;
}

.info .Great-Horned_Owl{
    height: 300px;
    width: 300px;
    z-index: 2;
    position: relative;
    top: 625px;
    left: -150px;
    border-radius: 3px;
}

.heading{
    height: 130px;
    width: 555px;
    color: white;
    font-size: 46px;
    padding-right: 50px;
    position: relative;
    right: 180px;
}

.heading .first{
    font-weight:600;
}

.heading .second{
    padding-top: 10px;
    font-weight:600;
}

.heading .first_para{
    height: 170px;
    width: 610px;
    font-size: 18px;
    line-height: 28px;
    position: relative;
    top: 50px;
}

.heading .second_para{
    height: 170px;
    width: 610px;
    font-size: 18px;
    line-height: 28px;
    position: relative;
    top: 80px;
}

.div_third_para{
    position: relative;
    top: 160px;
    left: 70px;
    height: 200px;
    width: 610px;
    display: flex;
    padding-right: 20px;
    box-sizing: border-box;
}

.heading .third_para{
    height: 140px;
    width: 590px;
    font-size: 18px;
    line-height: 28px;
}

.div_fourth_para{
    position: relative;
    top: 94px;
    left: 70px;
    height: 170px;
    width: 610px;
    padding-right: 20px;
    box-sizing: border-box;
}

.heading .fourth_para{
    height: 170px;
    width: 590px;
    font-size: 18px;
    line-height: 28px;
}
